@media screen and (max-width: 800px) {
    .logo{
        width: 30px;
        height: 30px;
    }
    .btn{
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 450px) {
    .titulo{
        font-size: 18.5px;
    }
    .rodape {
        font-size: 12px;
    }
}

@media screen and (max-width: 200px) {
    .titulo{
        font-size: 16.5px;
    }
    .rodape {
        font-size: 11px;
    }
}