@media screen and (max-width: 800px) {
    .logo{
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 600px) {
    .logo{
        width: 25px;
        height: 25px;
    }


}
@media screen and (max-width: 450px) {
    .titulo{
        font-size: 18.5px;
    }
    .rodape {
        font-size: 12px;
    }
}

@media screen and (max-width: 200px) {
    .titulo {
        font-size: 15px;
    }

    .rodape {
        font-size: 10px;
        margin-top: 16px; /* Adiciona espaço entre o conteúdo principal e o rodapé */
    }

    .btnStart button {
        font-size: 10px;
        padding: 8px 16px;
    }

    .input-nome input {
        font-size: 10px;
        padding: 6px;
    }
    .gif {
        align-items: center;
        display: none;
    }
}