body {
    width: 100%;
    height: 100%;
}

/* Header */
.topo {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.timer {
    font-size: 18px;
}

.pontuacao {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

#toggleMusicButton {
    background-color:rgb(251, 28, 28);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 4px;
}

/* Botão de Voltar */
.voltar {
    background-color: #0b5f97;
    color: #fff;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.botaovoltar {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Botão de Som */
.song {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Fundo do jogo */
.fundo2 {
    background: url(../img/fundo.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Tabela de Cartas */
.tabela {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.table {
    width: 100%;
}

.table th, .table td {
    text-align: center;
}



.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    justify-content: center;
}


.card {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

/* Modal */
.modal {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin: auto;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    padding: 20px;
    max-width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    justify-content: end;
}

.separar{
    justify-content: space-around;
}

.modal-footer {
    flex-direction: column;
    justify-content: center;
}

.btnmodal {
    margin: 5px;
    width: 200px;
}

/* Footer */
.rodape {
    width: 100%;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    background-color: rgb(53, 52, 52);
    font-size: 15px;
    font-weight: bold;
}

.rodape a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

#icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

/* Animação imagens */
.flip .card {
    transition: transform 0.8s ease; /* Adiciona uma transição suave para a animação */
}

.flip .card.flipped {
    transform: rotateY(180deg);
}
.card.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.scoretitle{
    display: flex;
    justify-content: space-around;
}

.infoplayer{
    display: flex;
    justify-content: space-around;
}