@media screen and (max-width: 600px) {
    .navbar .navbar-brand .logo {
        width: 30px;
        height: 30px;
    }

    .rodape {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .navbar .titulo {
        font-size: 16.5px;
    }
    .rodape {
        font-size: 13px;
    }
}

@media screen and (max-width: 200px) {
    .navbar .titulo {
        font-size: 15px;
    }
    
    .rodape {
        font-size: 8px;
    }
}
